version: "3.8"

services:
  postgres:
    image: postgres:15-alpine
    container_name: secure-auth-db
    restart: always
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypwd123
      POSTGRES_DB: secure_auth_db
    ports:
      - "8000:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
